.menu-popup {
  padding: 10px;

  position: absolute;
  top: 0px;
  left: 25px;

  background-color: #04A6FA;
  border-radius: 5px;

  display: none;
  flex-direction: column;
  align-items: flex-start;
}
